In [1]:
import requests
from citipy import citipy 

# Import the API key.
from config import weather_api_key

from datetime import datetime
import numpy as np
import time
import pandas as pd

In [2]:
#Prepare Coordinates

def generateLats_longs(size):
    
    latitudes = np.random.uniform(-90,90,size)
    longitudes = np.random.uniform(-180,180,size)

    return zip(latitudes,longitudes)

In [3]:
#intialise a city series object
city_Data= []

# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key


# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1


coordinates=  generateLats_longs(15)
cities =[]

for coordinate in coordinates:
    cities.append(citipy.nearest_city(coordinate[0], coordinate[1]).city_name)

print(len(cities))


for i , city in enumerate(cities):
    
     # Group cities in sets of 50 for logging purposes.
    if (i % 5 == 0 and i >= 5):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")
    # Log the URL, record, and set numbers and the city.
    print(city_url)
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1

    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()

        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_Data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except BaseException as e:
        print(e)        
        print("City not found. Skipping..." + city)
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")
    
# print(city_url)
print(city_Data)

Beginning Data Retrieval
-----------------------------
15
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=ribeira+grande
Processing Record 1 of Set 1 | ribeira grande
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=rikitea
Processing Record 2 of Set 1 | rikitea
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=mataura
Processing Record 3 of Set 1 | mataura
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=dunedin
Processing Record 4 of Set 1 | dunedin
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=tocopilla
Processing Record 5 of Set 1 | tocopilla
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=avarua
Processing Record 1 of Set 2 | avarua
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=cherskiy
Processing Record 2 of Set 2 | cherskiy
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=saskylakh
Processing Record 3 of Set 2 | saskylakh
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=tuktoyaktuk
Processing Record 4 of Set 2 | tuktoyaktuk
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=gritsovskiy
Processing Record 5 of Set 2 | gritsovskiy
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=mys+shmidta
Processing Record 1 of Set 3 | mys shmidta
'coord'
City not found. Skipping...mys shmidta
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=tiksi
Processing Record 2 of Set 3 | tiksi
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=bibiani
Processing Record 3 of Set 3 | bibiani
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=caravelas
Processing Record 4 of Set 3 | caravelas
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4da251a7ee9136a5d76166634a5973d6&q=salalah
Processing Record 5 of Set 3 | salalah
-----------------------------
Data Retrieval Complete
-----------------------------
[{'City': 'Ribeira Grande', 'Lat': 38.5167, 'Lng': -28.7, 'Max Temp': 77.4, 'Humidity': 83, 'Cloudiness': 75, 'Wind Speed': 10.36, 'Country': 'PT', 'Date': '2022-09-22 18:37:34'}, {'City': 'Rikitea', 'Lat': -23.1203, 'Lng': -134.9692, 'Max Temp': 73.09, 'Humidity': 73, 'Cloudiness': 8, 'Wind Speed': 12.59, 'Country': 'PF', 'Date': '2022-09-22 18:37:35'}, {'City': 'Mataura', 'Lat': -46.1927, 'Lng': 168.8643, 'Max Temp': 39.47, 'Humidity': 98, 'Cloudiness': 18, 'Wind Speed': 1.79, 'Country': 'NZ', 'Date': '2022-09-22 18:37:35'}, {'City': 'Dunedin', 'Lat': -45.8742, 'Lng': 170.5036, 'Max Temp': 45.81, 'Humidity': 86, 'Cloudiness': 5, 'Wind Speed': 1.01, 'Country': 'NZ', 'Date': '2022-09-22 18:33:22'}, {'City': 'Tocopilla', 'Lat': -22.092, 'Lng': -70.1979, 'Max Temp': 63.01, 'Humidity': 67, 'Cloudiness': 28, 'Wind Speed': 3.36, 'Country': 'CL', 'Date': '2022-09-22 18:37:36'}, {'City': 'Avarua', 'Lat': -21.2078, 'Lng': -159.775, 'Max Temp': 75.25, 'Humidity': 73, 'Cloudiness': 40, 'Wind Speed': 8.05, 'Country': 'CK', 'Date': '2022-09-22 18:38:36'}, {'City': 'Cherskiy', 'Lat': 68.75, 'Lng': 161.3, 'Max Temp': 34, 'Humidity': 81, 'Cloudiness': 6, 'Wind Speed': 10.02, 'Country': 'RU', 'Date': '2022-09-22 18:38:37'}, {'City': 'Saskylakh', 'Lat': 71.9167, 'Lng': 114.0833, 'Max Temp': 17.94, 'Humidity': 89, 'Cloudiness': 58, 'Wind Speed': 4.52, 'Country': 'RU', 'Date': '2022-09-22 18:38:37'}, {'City': 'Tuktoyaktuk', 'Lat': 69.4541, 'Lng': -133.0374, 'Max Temp': 35.6, 'Humidity': 93, 'Cloudiness': 100, 'Wind Speed': 9.22, 'Country': 'CA', 'Date': '2022-09-22 18:38:38'}, {'City': 'Gritsovskiy', 'Lat': 54.1376, 'Lng': 38.1604, 'Max Temp': 53.91, 'Humidity': 82, 'Cloudiness': 64, 'Wind Speed': 2.55, 'Country': 'RU', 'Date': '2022-09-22 18:38:38'}, {'City': 'Tiksi', 'Lat': 71.6872, 'Lng': 128.8694, 'Max Temp': 29.64, 'Humidity': 90, 'Cloudiness': 100, 'Wind Speed': 11.59, 'Country': 'RU', 'Date': '2022-09-22 18:39:39'}, {'City': 'Bibiani', 'Lat': 6.4635, 'Lng': -2.3194, 'Max Temp': 72.28, 'Humidity': 97, 'Cloudiness': 100, 'Wind Speed': 0.49, 'Country': 'GH', 'Date': '2022-09-22 18:39:40'}, {'City': 'Caravelas', 'Lat': -17.7125, 'Lng': -39.2481, 'Max Temp': 78.13, 'Humidity': 76, 'Cloudiness': 12, 'Wind Speed': 14.12, 'Country': 'BR', 'Date': '2022-09-22 18:39:40'}, {'City': 'Salalah', 'Lat': 17.0151, 'Lng': 54.0924, 'Max Temp': 80.69, 'Humidity': 89, 'Cloudiness': 75, 'Wind Speed': 6.91, 'Country': 'OM', 'Date': '2022-09-22 18:39:41'}]

In [4]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_Data)
city_data_df.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ribeira Grande,38.5167,-28.7000,77.40,83,75,10.36,PT,2022-09-22 18:37:34
1,Rikitea,-23.1203,-134.9692,73.09,73,8,12.59,PF,2022-09-22 18:37:35
2,Mataura,-46.1927,168.8643,39.47,98,18,1.79,NZ,2022-09-22 18:37:35
3,Dunedin,-45.8742,170.5036,45.81,86,5,1.01,NZ,2022-09-22 18:33:22
4,Tocopilla,-22.0920,-70.1979,63.01,67,28,3.36,CL,2022-09-22 18:37:36
5,Avarua,-21.2078,-159.7750,75.25,73,40,8.05,CK,2022-09-22 18:38:36
6,Cherskiy,68.7500,161.3000,34.00,81,6,10.02,RU,2022-09-22 18:38:37
7,Saskylakh,71.9167,114.0833,17.94,89,58,4.52,RU,2022-09-22 18:38:37
8,Tuktoyaktuk,69.4541,-133.0374,35.60,93,100,9.22,CA,2022-09-22 18:38:38
9,Gritsovskiy,54.1376,38.1604,53.91,82,64,2.55,RU,2022-09-22 18:38:38
10,Tiksi,71.6872,128.8694,29.64,90,100,11.59,RU,2022-09-22 18:39:39
11,Bibiani,6.4635,-2.3194,72.28,97,100,0.49,GH,2022-09-22 18:39:40
12,Caravelas,-17.7125,-39.2481,78.13,76,12,14.12,BR,2022-09-22 18:39:40
13,Salalah,17.0151,54.0924,80.69,89,75,6.91,OM,2022-09-22 18:39:41

In [7]:
# Reorder column for better visualisation
column_rearrange = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness','Wind Speed']


city_data_df = city_data_df[column_rearrange]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Ribeira Grande,PT,2022-09-22 18:37:34,38.5167,-28.7000,77.40,83,75,10.36
1,Rikitea,PF,2022-09-22 18:37:35,-23.1203,-134.9692,73.09,73,8,12.59
2,Mataura,NZ,2022-09-22 18:37:35,-46.1927,168.8643,39.47,98,18,1.79
3,Dunedin,NZ,2022-09-22 18:33:22,-45.8742,170.5036,45.81,86,5,1.01
4,Tocopilla,CL,2022-09-22 18:37:36,-22.0920,-70.1979,63.01,67,28,3.36
5,Avarua,CK,2022-09-22 18:38:36,-21.2078,-159.7750,75.25,73,40,8.05
6,Cherskiy,RU,2022-09-22 18:38:37,68.7500,161.3000,34.00,81,6,10.02
7,Saskylakh,RU,2022-09-22 18:38:37,71.9167,114.0833,17.94,89,58,4.52
8,Tuktoyaktuk,CA,2022-09-22 18:38:38,69.4541,-133.0374,35.60,93,100,9.22
9,Gritsovskiy,RU,2022-09-22 18:38:38,54.1376,38.1604,53.91,82,64,2.55
10,Tiksi,RU,2022-09-22 18:39:39,71.6872,128.8694,29.64,90,100,11.59
11,Bibiani,GH,2022-09-22 18:39:40,6.4635,-2.3194,72.28,97,100,0.49
12,Caravelas,BR,2022-09-22 18:39:40,-17.7125,-39.2481,78.13,76,12,14.12
13,Salalah,OM,2022-09-22 18:39:41,17.0151,54.0924,80.69,89,75,6.91

In [8]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")