# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ilulissat,GL,46.42,light rain,69.2167,-51.1000,Hotel Icefiord
1,1,Chuy,UY,66.99,broken clouds,-33.6971,-53.4616,La Fortaleza
2,4,Hermanus,ZA,61.81,clear sky,-34.4187,19.2345,Steers
3,5,Labuhan,ID,78.48,clear sky,-6.8844,112.2051,Rujak makMi
4,8,Port Hedland,AU,62.65,scattered clouds,-20.3167,118.5667,The Esplanade Hotel
5,9,Punta Arenas,CL,51.91,broken clouds,-53.1500,-70.9167,Entre Ollas y Sartenes
6,10,Takoradi,GH,78.49,broken clouds,4.8845,-1.7554,Paragon bar + grill
7,11,Prado,BR,79.47,scattered clouds,-17.3411,-39.2208,Cabana Brazil com Z
8,12,Cody,US,70.25,clear sky,44.5263,-109.0565,Buffalo Bill's Irma Hotel & Restaurant
9,13,Taiyuan,CN,64.26,clear sky,37.8694,112.5603,Jinjiang Inn

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [7]:
# In case of an empty DataFrame, load the sample data provided

# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)
vacation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           356 non-null    int64
 1   City                 356 non-null    object
 2   Country              356 non-null    object
 3   Max Temp             356 non-null    float64
 4   Current Description  356 non-null    object
 5   Lat                  356 non-null    float64
 6   Lng                  356 non-null    float64
 7   Hotel Name           356 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 22.4+ KB

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [8]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [32]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.


# # Latitude-longitude pairs
# geneva = (46.2, 6.1)
# montreux = (46.4, 6.9)
# zurich = (47.4, 8.5)


# "Hyderabad , Bangalore, Delhi , Hyderabad"

vacation_start = vacation_df.loc[vacation_df['City'] == 'Lompoc']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Lompoc']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Ridgecrest']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Saint George']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Guerrero Negro']
vacation_df.dtypes

print(vacation_start)
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

     Unnamed: 0    City Country  Max Temp Current Description      Lat  \
118         157  Lompoc      US     57.61                mist  34.6391

          Lng Hotel Name
118 -120.4579     Subway
     Unnamed: 0        City Country  Max Temp Current Description      Lat  \
299         388  Ridgecrest      US     87.39           clear sky  35.6225

          Lng Hotel Name
299 -117.6709  Golden Ox
     Unnamed: 0          City Country  Max Temp Current Description      Lat  \
206         269  Saint George      US      80.8    scattered clouds  37.1041

          Lng               Hotel Name
206 -113.5841  Painted Pony Restaurant
     Unnamed: 0            City Country  Max Temp Current Description  \
204         267  Guerrero Negro      MX     79.95           clear sky

         Lat       Lng       Hotel Name
204  27.9769 -114.0611  Loncheria Reyna

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [33]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# Get the lat and lng for the start and end of the trip
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

# Get the lat and lng for the stops
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (34.6391, -120.4579), End: (34.6391, -120.4579)
Stop 1: (35.6225, -117.6709), Stop 2: (37.1041, -113.5841), Stop 3: (27.9769, -114.0611)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [34]:

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.


# Define a new figure object
fig_drive = gmaps.figure()
fig_walk = gmaps.figure()
fig_bicycle = gmaps.figure()
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

vacation_itinerary_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode='DRIVING')

vacation_itinerary_bicycle = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode='BICYCLING')


vacation_itinerary_bicycle = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode='WALKING')
# Add the layer to the map
fig_drive.add_layer(vacation_itinerary_driving)
fig_walk.add_layer(vacation_itinerary_bicycle)
fig_bicycle.add_layer(vacation_itinerary_bicycle)
# Display the map

fig_drive

# fig_walk

# fig_bicycle

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [35]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
        
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,157,Lompoc,US,57.61,mist,34.6391,-120.4579,Subway
1,388,Ridgecrest,US,87.39,clear sky,35.6225,-117.6709,Golden Ox
2,269,Saint George,US,80.80,scattered clouds,37.1041,-113.5841,Painted Pony Restaurant
3,267,Guerrero Negro,MX,79.95,clear sky,27.9769,-114.0611,Loncheria Reyna

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [36]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[['Lat','Lng']]

In [37]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations=locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))